
.main-container{
    width: 80%;
    margin: auto;
}
.countries-api h1{
    text-align: center;
}
.country-box{
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: aquamarine;
    /* margin: 5px; */
}

.country{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}